# Cron job to git clone/pull a repo and then run locally
{{ schedule }} {{ cron_user }} {{ galaxy_install_cmd }} >> {{ galaxy_logfile }} 2>&1
{{ schedule }} {{ cron_user }} {{ ansible_pull_cmd }} >> {{ logfile }} 2>&1
